# Proyecto Valentina Borrador

Ùltima actualizaciòn: 8 de Noviembre del 2025

[Fuente del Dataset](https://www.kaggle.com/datasets/berkeleyearth/climate-change-earth-surface-temperature-data)

Las temperaturas están dadas en $\text{°C}$

In [1]:
import pandas as pd

## Lectura de Datasets

In [3]:
TemperatureByCity = pd.read_csv("temperature/GlobalLandTemperaturesByCity.csv")
TemperatureByCountry = pd.read_csv("temperature/GlobalLandTemperaturesByCountry.csv")
TemperatureByMajorCity = pd.read_csv("temperature/GlobalLandTemperaturesByMajorCity.csv")
TemperatureByState = pd.read_csv("temperature/GlobalLandTemperaturesByState.csv")
TemperatureGlobal = pd.read_csv("temperature/GlobalTemperatures.csv")

Vamos a eliminar las columnas de *TemperatureGlobal* llamadas:

* LandMaxTemperature
* LandMaxTemperatureUncertainty
* LandMinTemperature
* LandMinTemperatureUncertainty

Ya que únicamente este dataset posee tales características, y pensamos trabajar solamente con las "AverageTemperature"

In [13]:
TemperatureGlobalFiltrado = TemperatureGlobal.drop(columns=['LandMaxTemperature',
                                                            'LandMaxTemperatureUncertainty',
                                                            'LandMinTemperature',
                                                            'LandMinTemperatureUncertainty']).copy()

In [23]:
FaltantesLand = TemperatureGlobalFiltrado["LandAverageTemperature"].isnull().sum()
FaltantesLandAndOcean = TemperatureGlobalFiltrado["LandAndOceanAverageTemperature"].isnull().sum()

print(f"""Para las columnas de Temperatura promedio \
de la tierra faltan {FaltantesLand} datos""")
print(f"""Para las columnas de Temperatura promedio \
de la tierra y el oceano faltan {FaltantesLandAndOcean} datos""")

Para las columnas de Temperatura promedio de la tierra faltan 12 datos
Para las columnas de Temperatura promedio de la tierra y el oceano faltan 1200 datos

In [32]:
TemperatureByCity["AverageTemperature"].max()

39.650999999999996

In [47]:
mask = TemperatureByCity["dt"] == "2013-08-01"
print("Por cada fecha, hay datos de 3510 lugares diferentes")
print("Longitud del dataset para una fecha particular:",len(TemperatureByCity[mask]))
TemperatureByCity[mask].head(3)

Por cada fecha, hay datos de 3510 lugares diferentes
Longitud del dataset para una fecha particular 3510

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
3237,2013-08-01,17.423,0.408,Århus,Denmark,57.05N,10.33E
6476,2013-08-01,25.246,0.375,Çorlu,Turkey,40.99N,27.69E
9605,2013-08-01,21.452,0.344,Çorum,Turkey,40.99N,34.08E

Vamos a construir una animación